/* 
    Created on : 06 Sept 2024, 11:22:52
    Author     : Damna
*/
iframe {
    position: relative;
    top: 100px;
    left: 50px;
}

.address {
    position: relative;
    top: -250px;
    left: 200px;
    font-size: 30px;
}

.tel {
    position: relative;
    top: -150px;
    left: -15px;
    font-size: 25px;
}

.mail {
    position: relative;
    top: -100px;
    left: 650px;
    font-size: 25px;
}