/* 
    Created on : 09 Sept 2024, 15:56:08
    Author     : Damna
*/

body {
    height: 235vh;
    overflow-x: hidden;
}
.text-font {
    font-family: Helvetica;
}

/*----Animations----*/
.hide {
    transform: translateX(100%);
}

.show {
    transform: translateX(0%);
}

/*----Who we are----*/
.who {
    position: relative;
    top: 100px;
    transition: transform 0.5s ease-out;
}

h1{
    text-align: center;
    color: #137EB3;
    font-size: 40px;
    text-shadow: 2px 6px 4px #0EC7CC;
}
.disp_img {
    position: absolute;
    width: 50%;
    opacity: 50%;
    margin-left: 600px;
}

.who p{
    width: 500px;
    font-size: 30px;
    line-height: 1.5;
    margin-left: 20px;
}

/*----How we work----*/
.how {
    position: relative;
    top: 325px;
    transition: transform 0.5s ease-out;
}

.how p{
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
}

.delivery {
    position: relative;
    top: 400px;
    transition: transform 0.5s ease-out;
}

.delivery p{
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
}