/* 
    Created on : 18 Oct 2024
    Author     : Damna
*/
body {
    height: 700vh;
}
div{
    position: relative;
}

.dops {
    top: 100px;
}
.polishing {
    top: 200px;
}
.liquids {
    top: 300px;
}

h1 {
    position: relative;
    top: 75px;
    font-family: Helvetica;
    text-align: center;
    font-size: 60px;
    color: #050B54;
    margin-bottom: 100px;
}
.Items_Div {
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}
.item {
    position: relative;
    padding: 20px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightblue;
    width: 300px;
    height: 330px;
}

.cat_Img {
    width: 300px;
    height: 225px;
    border-radius: 10px;
}

.link {
    position: relative;
    text-align: center;
    font-family: Helvetica;
    font-size: 25px;
    text-decoration: underline;
    cursor: pointer;
    
}