/* 
    Created on : 06 Sept 2024, 10:30:57
    Author     : Damna
*/
/*-----HEADER------*/
header {
    position: fixed;
    background: linear-gradient(to bottom right, blue, #4ADCE8);
    width: 100%;
    height: 75px;
    top:0;
    left: 0;
    z-index: 5;
}

.logo {
    width: 6%;
}
a{
    display: block;
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
    top: -52px;
}

.menItem {
    border-style: unset;
    height: 50px;
    width: 120px;
    background-color: #E4E8BE;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.menItem:hover {
    background-color: #E6E829;
}

.cat {
    position: relative;
    z-index: 0;
    height: 50px;
    width: 120px;
    border-style: unset;
    background-color: #E4E8BE;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cat:hover{
    background-color: #E6E829;
}

.catalogue{
    display: none;
    position: absolute;
    
}

.dropdown {
    width: 20px;
}

.dropdown:hover .catalogue{
    display: block;
}

.catSelect {
    text-align: center;
    background-color: #E4E8BE;
    width: 120px;
    height: 30px;
}

.catSelect:hover {
    background-color: #E6E829;
}

/*-----FOOTER------*/
footer {
    position: fixed;
    background: linear-gradient(to bottom right, blue, #4ADCE8);
    width: 100%;
    top:600px;
    left: 0px;
    height: 81px;
}

.so_block {
    display: inline-block;
}

.socials {
    height: 30px;
}

.block {
    text-align: center;
}

.contacts{
    text-align: center;
}