/* 
    Created on : 27 Aug 2024, 16:06:12
    Author: Damian Rosenthal
*/
/*----Body Font---*/
.body_text {
    font-family: Helvetica;
}

body {
    height: 124vh;
}

/*----Catalogue---*/
.Cat-Body {
    position: relative;
    top: 48px;
    height: 400px;
    width: 100%;
}
/*-----SLIDESHOW------*/
.slider{
    position: absolute;  
    margin-left: 20px;
    top: 50px;
    width: 600px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 6px;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 600px;
    height: 300px;
    
}

.navigation-manual{
    position: absolute;
    width: 600px;
    margin-top: -225px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: black;
}

#radio1:checked ~.first{
    margin-left: 0;
}

#radio2:checked ~.first{
    margin-left: -20%;
}

#radio3:checked ~.first{
    margin-left: -40%;
}

#radio4:checked ~.first{
    margin-left: -60%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 600px;
    justify-content: center;
    margin-top: 275px;
}

.navigation-auto div{
    border: 2px solid;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: black;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: black;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: black;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: black;
}

/*-------Catalogue Body--------*/
.cat_container {
    height: 400px;
}
.cat_text {
    position: relative;
    margin-left: 650px;
}

.head {
    top: 75px;
    width: 10px;
    font-size: 40px;
}

.desc {
    top: 55px;
    width: 40%;
}

.disclaim {
    top: 70px;
    font-style: italic;
    color: cornflowerblue;
}

.browse {
    top: -50px;
    font-size: 25px;
    border-radius: 5px;
    border-width: 1px;
    background-color: #ABE0E0;
    box-shadow: 0 0 12px #9BCCCC;
}

.browse:hover {
    cursor: pointer;
}
/*---------About Body--------*/
.about {
    height: 300px;
    background: linear-gradient(to bottom, white, #4ADCE8);
}
h1 {
    text-align: center;
}

.about_desc {
    text-align: center;
    font-size: 25px;
}

.about button{
    position: relative;
    left: 575px;
    font-size: 20px;
    border-radius: 5px;
    border-width: 5px;
    font-weight: bold;
    width: 100px;
}

.about button:hover {
    cursor: pointer;
    font-weight: lighter;
}