/* 
    Created on : 20 Oct 2024, 16:49:06
    Author     : Damna
*/

h1 {
    position: relative;
    top:60px;
    font-family: Helvetica;
    text-align: center;
}

.item_display {
    position: relative;
    top: 80px;
    display: flex;
    align-items: flex-start;
    margin: 20px;
}

.prod {
    width: 500px;
}

.desc {
    font-family: arial;
    font-size: 25px;
    margin-bottom: 100px;
}

.info_bottom {
    display: flex;
    margin-left: 50px;
}

.stock {
    color: red;
    font-size: 20px;
    margin-right: 8px;
    font-family: Helvetica;
    font-weight: bold;
}
.remaining {
    color: red;
    font-size: 20px;
    margin-right: 100px;
    font-family: Helvetica;
    font-weight: bold;
}
.price {
    font-family: Helvetica;
    font-size: 20px;
}

.add {
    font-size: 20px;
    width: 80px;
    border-radius: 5px;
}

/*-----account-----*/
.hidden {
    display: none;
}

.create {
    position: absolute;
    top: 30%;
    left: 30%;
    border: 2px solid black;
    z-index: 6;
    background-color: lightblue;
    width: 400px;
    height: 355px;
}

h3 {
    font-family: Helvetica;
    text-align: center;
}